/*页面整体样式*/
body {
    margin: 0 auto;
    padding: 0;
    background-color: #e1ffdc;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 1534px;
    text-align: center;
}
/*左侧导航栏*/
.tool{
    float: left;
    margin: 0;
    background-color: #006231;
    width: 20%;
    height: 745px;
}
/*右侧内容页面*/
.bar_page{
    float: right;
    margin: 0;
    background-color: #e1ffdc;
    width: 80%;
    height: 745px;
}
.Logo,.user{
    background-color: #ebebeb;
    height: 150px;
}
.Logo img{
    margin: 0;
    background-color: #006231;
    width: 307px;
}
.user img{
    width: 100px;
    height: 100px;
    border: 2px solid gainsboro;
    border-radius: 50px;
}
.user p{
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 5px;
}
.user {
    text-align: center;
    position: relative;
    padding-bottom: 45px;
}
.window1_1,.window1_2,.window1_3,.window1_4,.window2_1,.window2_2,.window2_3,.window2_4,.window3_1,.window3_2,.window3_3,.window3_4{
    padding: 0 2rem;
    border: 0 solid gainsboro;
    background-color: rgba(241, 241, 241, 0.93);
    z-index: 99;
    position: fixed;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 60%;
    border-radius: 2rem;
    display: none;
}
.window p{
    font-size: 1rem;
    text-align: center;
}
.banner p{
    margin: 0;
    padding: 0;
    width: 306px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}
.banner p:hover{
    background-color: #00c956;
}
.sonBar1 p {
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    display: none;
    line-height: 40px;
    background-color: #008f42;
}
.sonBar2 p {
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    display: none;
    line-height: 40px;
    background-color: #008f42;
}
.sonBar3 p {
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    display: none;
    line-height: 40px;
    background-color: #008f42;
}
.banner{
    color: #ebebeb;
}
.bar_page td{
    background-color: rgba(212, 213, 214, 0.5);
    width: 250px;
    height: 146px;
    border: 2px solid rgba(65, 105, 225, 0);
    border-radius: 15px;
    background-size: 250px 146px;
    text-align: center;
    vertical-align: middle;
    font-size: 60px;
    font-weight: 900;
}
.bar_page td:hover{
    border: 2px solid rgba(0, 143, 66, 0.5);
    color: #006231;
    font-size: 60px;
    position: relative;
    top: 2px;
}
.bar_page table{
    margin: 45px;
    border-spacing: 45px;
}
input[type="text"]{
    border-radius: 5px;
    border: solid 1px #00AA88;
    height: 20px;
    width: 150px;
}
textarea{
    border-radius: 5px;
    border: solid 1px #00AA88;
    height: 100px;
    width: 450px;
}
.bar1_1_page th,.bar1_2_page th,.bar2_1_page th,.bar2_2_page th{
    width: 1000px;
    border: 2px solid rgba(156, 156, 156, 0);
    background-color: rgba(0, 143, 66, 0.5);
    height: 30px;
}
.head th{
    width: 1000px;
    border: 2px solid rgba(156, 156, 156, 0);
    background-color: rgb(0, 143, 66);
    height: 35px;
}
.foot th{
    width: 1000px;
    border: 2px solid rgba(156, 156, 156, 0);
    background-color: rgb(0, 143, 66);
    height: 35px;
}
.head th:hover{
    width: 1000px;
    border: 2px solid rgba(156, 156, 156, 0);
    background-color: rgb(0, 143, 66);
    height: 35px;
}
.bar1_1_page td,.bar1_2_page td,.bar2_1_page td,.bar2_2_page td{
    width: 1000px;
    border-bottom: 2px solid rgba(120, 125, 121, 0.46);
    background-color: rgba(212, 213, 214, 0.5);
    height: 28px;
}
.bar1_1_page tr:hover,.bar1_2_page tr:hover,.bar2_1_page tr:hover,.bar2_2_page tr:hover{
    background-color: rgba(86, 82, 83, 0.5);
}
.bar1_1_page table,.bar1_2_page table,.bar2_1_page table,.bar2_2_page table{
    margin: 0;
    border-collapse: collapse;
}
.bar1_3_page .yue{
    margin: 100px 80px;
    padding: 60px;
    border: solid 0;
    border-radius: 25px;
    background-color: rgba(226,234,235,0.53);
}
.bar2_3_page .yue{
    margin: 60px 80px;
    padding: 60px;
    border: solid 0;
    border-radius: 25px;
    background-color: rgba(226,234,235,0.53);
}
.bar3_1_page .yue,.bar3_2_page .yue{
    margin: 60px 80px;
    padding: 60px;
    border: solid 0;
    border-radius: 25px;
    background-color: rgba(226,234,235,0.53);
}
.bar2_3_page .yue .submit2_3,.bar3_2_page .yue .submit3_2,.button{
    margin: 0 50px;
    width: 90px;
    height: 35px;
    background: #006d33;
    border-radius: 15px;
    font-size: 15px;
    color: #fbfbff;
    border: 0 solid #006d33;
}
.bar1_3_page .yue .yue_text,.bar3_1_page .yue .yue_text{
    position: relative;
    left: -180px;
}
.bar1_3_page p,.bar2_3_page p,.bar3_1_page p,.bar3_2_page p{
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 75px;
}
h2{
    font-size: 25px;
}
/*各页面初始化隐藏*/
.bar1_1_page,.bar1_2_page,.bar1_3_page,.bar2_1_page,.bar2_2_page,.bar2_3_page,.bar3_1_page,.bar3_2_page{
    margin: 0;
    padding: 0;
    float: right;
    width: 80%;
    display: none;
}
/*首页底部版权栏*/
.last{
    width: 100%;
    background-color: #ebebeb;
    text-align: center;
    position: relative;
    top: -30px;
}